{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_content %}
<!-- Header -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-text-white content">
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">That's me <i class = "fa fa-arrow-right"></i></p></a>
  </div> 
  <!-- Icons -->
  <div class="w3-display-bottomleft w3-text-grey w3-large content">
    <i class="fa fa-facebook-official w3-hover-opacity" onclick="window.location.href='https://www.facebook.com/ryan.miyahara.3'"></i>
    <i class="fa fa-github w3-hover-opacity" onclick="window.location.href='https://github.com/rmiyahara'"></i>
    <i class="fa fa-linkedin w3-hover-opacity" onclick="window.location.href='https://www.linkedin.com/in/ryan-miyahara-203088158/'"></i>
  </div>
</header>

<!-- About Section -->
<div class="w3-container w3-light-grey content" style="padding:128px 16px" id="about">
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-half">
      <img class="w3-image w3-round-large" src="{% static '/about_me.jpg' %}" alt="What a handsome guy!" width: 100%>
    </div>
    <div class="w3-half">
      <h1 class="w3-center">About Me</h1>
      <p align = 'justify'>Hello world! My name is Ryan Miyahara, I was born and raised in San Jose, CA. After graduating from Independence High School, I began college at University of California, Los Angeles. While I started off as a Civil Engineering major with absolutely no interest in coding, my first Computer Science class initiated a personal revelation and from then on, coding became my passion. I am currently in my senior year with an expected completion date in December of 2019.</p>
      <p align = 'justify'>Outside of coding, I love playing video games with my friends, lifting weights, and finding the freshest memes. My current favorite games are Super Smash Bros. Ultimate (check out my <a href = "https://gfycat.com/@SwankyDoodle" target = "_blank">Gfycat</a>), Overwatch, Minecraft, and Super Mario Odyssey. I am also a <b>huge</b> fan of terrible coding related jokes.</p>
      <p align = 'justify'>It's hard to connect to someone through a block of text, but I would love to grab coffee together sometime!</p>
    </div>
  </div>
</div>

<!-- Portfolio Section -->
<div class="w3-container w3-white content" style="padding:128px 16px" id="portfolio">
  <h1 class="w3-center">Portfolio</h1>
  <div class="scrolling-wrapper" style="margin-top:64px">
  {% for project in projects %}
    <!-- Small card section -->
    <div class="card w3-center w3-hover-opacity" onclick="document.getElementById('{{ project.title }}').style.display='block'">
      <h3>{{ project.title }}</h3>
      <img class="w3-row-padding w3-image w3-round-large" src="{% static project.image %}" alt="{{ project.title }} Icon"/>
      <p class = "w3-row-padding">{{ project.description_short }}</p>
    </div>
    <!-- Big card section -->
    <div id="{{ project.title }}" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-large w3-display-topright w3-white" onclick="this.style.display='none'" title="Close Modal Image"><i class="fa fa-remove"></i></span>
      <div class="big_card w3-modal-content w3-animate-zoom w3-padding-64 w3-round">
        <h2 class="w3-center">{{ project.title }} <i class="fa fa-github w3-hover-opacity" onclick="window.location.href='{{ project.github }}'"></i></h2>
        <p class = "w3-center"><b>{{ project.date }}</b></p>
        <img class="w3-row-padding w3-image w3-round-large" src="{% static project.image %}" alt="{{ project.title }} Icon"/>
        <div class = "w3-padding" align = 'justify'>
          <p><b>Technology Used: {{ project.technology }}</b></p>
          {{ project.description_long | linebreaks }}
          <p>The code can be found <a href = "{{ project.github }}" target = "_blank" color = "w3-blue">here</a> or by clicking the GitHub icon at the title.</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<!-- Work Section -->
<div class="w3-container w3-light-grey w3-padding-64 content" id = "work">
  <div class="w3-row-padding">
    <h1>Work Experience</h1>
    {% for job in jobs %}
      <h3>{{ job.company }} - {{ job.position }}</h3>
      <ul>
        <li>{{ job.description1 }}</li>
        <li>{{ job.description2 }}</li>
        <li>{{ job.description3 }}</li>
        <li>{{ job.description4 }}</li>
      </ul>
    {% endfor %}
  </div>
  <div class="w3-row-padding">
    <h1>Relevant Skills</h1>
    <div class="w3-col m6">
      <p align='justify'>While I have only been a CS major for a little over a year, I have tried to take every chance I could to learn something new! This has made me very comfortable with functional and object oriented languages as well as in a Linux development environment.</p>
      <p align='justify'>During my time at UCLA, I was able to learn a little more about specific topics through Upper Division Electives. My electives allowed me to dig deeper into Artificial Intelligence, Machine Learning, Bluetooth/Wifi Protocols, Graphics, and Scalable Systems.</p>
      <p align='justify'>In the neighboring list, I have included a few languages/technologies that I have become proficient in through school projects, personal projects, and work.</p>
    </div>
    <div class="w3-col m6">
      <ul>
      {% for skill in skills %}
        <li>{{ skill.language }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-white w3-center content" style="padding:128px 16px" id="contact">
  <h1 class="w3-center">Contact</h1>
  <p class="w3-center w3-large">Below you can find my contact information and resume!</p>
  <div style="margin-top:48px">
    <div class = "w3-third w3-hover-opacity">
      <a href = "https://mail.google.com/mail/?view=cm&fs=1&to=rmiyahara144@gmail.com" target = "_blank">
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"></i> Email: rmiyahara@gmail.com</p>
      </a>
    </div>
    <div class = "w3-third w3-hover-opacity" onclick = "copyStringToClipboard('4085285455')">
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: (408)528-5455</p>
    </div>
    <div class = "w3-third w3-hover-opacity">
      <a href = "{% static '/Resume.pdf' %}" download target = "_blank">
        <p><i class = "fa fa-download fa-fw w3-xxlarge w3-margin-right"></i> Resume</p>
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity" onclick="window.location.href='https://www.facebook.com/ryan.miyahara.3'"></i>
    <i class="fa fa-github w3-hover-opacity" onclick="window.location.href='https://github.com/rmiyahara'"></i>
    <i class="fa fa-linkedin w3-hover-opacity" onclick="window.location.href='https://www.linkedin.com/in/ryan-miyahara-203088158/'"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

// Copy phone number to clipboard
function copyStringToClipboard (str) {
  var el = document.createElement('textarea');
  el.value = str;
  el.setAttribute('readonly', '');
  el.style = {position: 'absolute', left: '-9999px'};
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
  alert("Phone number has been copied to the clipboard!");
}
</script>
{% endblock %}